body {
    background-color: white;
}

.header {
    background-color: #E7E5E2;
    height: 140px;
    img {
        position: absolute;
        height: 86px;
        width: 170px;
        margin-left: 400px;
        margin-top: 30px;
    }

    .nav-place {
        border-bottom-style: solid;
        border-bottom-width: 10px;
        border-bottom-color: #93877E;
        border-bottom-width: 20px;
        height: 140px;


        .navbar-nav {
            text-align: center;
            width: 140px;
            height: 130px;
            margin-left: auto;
            margin-right: 800px;

            img {
                margin-top: 70px;
                width: 800px;
                height: 60px;
                position:absolute;
                margin-left: -100px;
                
            }
            
            .nav-item {
                .home{
                    img{
                        visibility:hidden;
                    }
                }

                img {
                    width: 140px;
                    margin-top: 65px;
                    margin-left: -120px;
                }
            }

            .nav-item:hover{
                .home {
                    img{
                        visibility: visible;
                    }
                }
            }


            .nav-link {
                margin-right: 100px;
                position:relative;
                margin-top: 75px;
                margin-left: auto;
            }
        }
    }
}

.main-content{
    margin-top: 40px;
    margin-bottom: 100px;

    .main-content {
        .card{
            border-width: 0px;
            border-radius: 10px;
            background-color: #E7E5E2;
    
            .contact-me {
                p {
                    padding-left: 50px;
                }
            }
    
            h3{
                font-size: 16px;
                color: #A79290;
            }
    
            h5{
                font-size: 24px;
            }
    
            p {
                font-size: 15px;
                color: #A79290;
            }
        }
    }
    

    .side-content {
        .card {
            background-color: white;

            .card-body-a{
                background-color: #E7E5E2;
                padding : 0px 50px 20px 20px;
                margin-bottom: 40px;
                border-radius: 10px;
            }

            .card-body-b{
                background-color: #E7E5E2;
                padding : 0px 50px 20px 20px;
                margin-bottom: 40px;
                border-radius: 10px;
            }

            .card-body-c{
                background-color: #E7E5E2;
                padding : 0px 50px 20px 20px;
                margin-bottom: 40px;
                border-radius: 10px;
            }

            h5{
                font-size: 24px;
                padding-top: 20px;
            }
    
            img {
                width: 120px;
                height: 120px;
                margin-top: -10px;
            }
    
            h4 {
                font-size: 22px;
                margin-top: -10px;
            }
    
            p {
                font-size: 15px;
                margin-top: -3px;
            }
        }
        
    }
}

footer{
    background-color: #E6E4E1;

    .card{
        background-color: transparent;
        border-width: 0px;
    }

    p {
        margin-top: 20px;
        color: #A79290;
    }

    img{
        margin-left: 20px;
        margin-top: 10px;
    }
}
