body {
  background-color: white;
}

.header {
  background-color: #E7E5E2;
  height: 140px;
}

.header img {
  position: absolute;
  height: 86px;
  width: 170px;
  margin-left: 400px;
  margin-top: 30px;
}

.header .nav-place {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #93877E;
  border-bottom-width: 20px;
  height: 140px;
}

.header .nav-place .navbar-nav {
  text-align: center;
  width: 140px;
  height: 130px;
  margin-left: auto;
  margin-right: 800px;
}

.header .nav-place .navbar-nav img {
  margin-top: 70px;
  width: 800px;
  height: 60px;
  position: absolute;
  margin-left: -100px;
}

.header .nav-place .navbar-nav .nav-item .home img {
  visibility: hidden;
}

.header .nav-place .navbar-nav .nav-item img {
  width: 140px;
  margin-top: 65px;
  margin-left: -120px;
}

.header .nav-place .navbar-nav .nav-item:hover .home img {
  visibility: visible;
}

.header .nav-place .navbar-nav .nav-link {
  margin-right: 100px;
  position: relative;
  margin-top: 75px;
  margin-left: auto;
}

.main-content {
  margin-top: 40px;
  margin-bottom: 100px;
}

.main-content img {
  width: 100px;
}

.main-content .row {
  margin-left: 200px;
}

.main-content .part {
  margin-left: -300px;
}

.main-content .card {
  border-width: 0px;
  background-color: white;
}

.main-content .card .divide {
  border-bottom-style: dashed;
}

.main-content .card .contact-me p {
  padding-left: 50px;
}

.main-content .card h3 {
  font-size: 16px;
  color: #A79290;
}

.main-content .card h5 {
  font-size: 24px;
  padding-top: 20px;
}

.main-content .card p {
  font-size: 15px;
  color: #A79290;
}

.main-content .side-content .card-title {
  background-image: url("/img/archive.png");
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
  height: 60px;
  text-align: center;
}

footer {
  height: 120px;
  background-color: #E6E4E1;
}

footer .card {
  background-color: transparent;
  border-width: 0px;
}

footer p {
  margin-top: 20px;
  color: #A79290;
}

footer img {
  margin-left: 20px;
  margin-top: 10px;
}
/*# sourceMappingURL=blog.css.map */