body {
  background-color: white;
}

.header {
  background-color: #E7E5E2;
  height: 140px;
}

.header img {
  position: absolute;
  height: 86px;
  width: 170px;
  margin-left: 400px;
  margin-top: 30px;
}

.header .nav-place {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #93877E;
  border-bottom-width: 20px;
  height: 140px;
}

.header .nav-place .navbar-nav {
  text-align: center;
  width: 140px;
  height: 130px;
  margin-left: auto;
  margin-right: 800px;
}

.header .nav-place .navbar-nav img {
  margin-top: 70px;
  width: 800px;
  height: 60px;
  position: absolute;
  margin-left: -100px;
}

.header .nav-place .navbar-nav .nav-item .home img {
  visibility: hidden;
}

.header .nav-place .navbar-nav .nav-item img {
  width: 140px;
  margin-top: 65px;
  margin-left: -120px;
}

.header .nav-place .navbar-nav .nav-item:hover .home img {
  visibility: visible;
}

.header .nav-place .navbar-nav .nav-link {
  margin-right: 100px;
  position: relative;
  margin-top: 75px;
  margin-left: auto;
}

.main-content {
  margin-top: 40px;
  margin-bottom: 100px;
}

.main-content .card {
  border-width: 0px;
  background-color: transparent;
}

.main-content .card .contact-me p {
  padding-left: 50px;
}

.main-content .card h3 {
  font-size: 16px;
  color: #A79290;
}

.main-content .card h5 {
  font-size: 24px;
  padding-top: 20px;
}

.main-content .card p {
  font-size: 15px;
  color: #A79290;
}

.main-content .side-content h5 {
  background-image: url(/img/side-contact.png);
  background-size: cover;
  height: 50px;
  width: 600px;
  font-size: 28px;
  font-weight: lighter;
  color: black;
  text-align: center;
  padding-top: 5px;
}

.main-content .side-content img {
  width: 120px;
  height: 120px;
  margin-top: -10px;
}

.main-content .side-content h4 {
  font-size: 22px;
  margin-top: -10px;
}

.main-content .side-content p {
  font-size: 15px;
  margin-top: -3px;
}

footer {
  height: 120px;
  background-color: #E6E4E1;
  margin-bottom: -100px;
}

footer p {
  margin-top: 20px;
}

footer img {
  margin-left: 20px;
  margin-top: 10px;
}
/*# sourceMappingURL=contact.css.map */