body {
    background-color: white;
}

.header {
    background-color: #E7E5E2;
    height: 140px;
    img {
        position: absolute;
        height: 86px;
        width: 170px;
        margin-left: 400px;
        margin-top: 30px;
    }

    .nav-place {
        border-bottom-style: solid;
        border-bottom-width: 10px;
        border-bottom-color: #93877E;
        border-bottom-width: 20px;
        height: 140px;


        .navbar-nav {
            text-align: center;
            width: 140px;
            height: 130px;
            margin-left: auto;
            margin-right: 800px;

            img {
                margin-top: 70px;
                width: 800px;
                height: 60px;
                position:absolute;
                margin-left: -100px;
                
            }
            
            .nav-item {
                img {
                    width: 140px;
                    margin-top: 65px;
                    margin-left: -120px;
                }

                .home{
                    img{
                        visibility:hidden;
                    }
                }
            }

            .nav-item:hover{
                .home {
                    img{
                        visibility: visible;
                    }
                }
            }

            .nav-link {
                margin-right: 100px;
                position:relative;
                margin-top: 75px;
                margin-left: auto;
            }
        }
    }
}

.slider {
    img {
        background-repeat: no-repeat;
        margin-left: 200px;
        height: 531px;
    }

    .slider-content{
        margin-top: -100px;

        .card {
            border-width: 0px;
            background-color: transparent;
            margin-top: -40px;
            .card-title {
                background-image: url(/img/bg-adbox-feature.png);
                background-position: center;
                background-position-y: top;
                width: 300px;
                
            }
        }
    }
}

.main-content{
    margin-top: 40px;

    .card{
        border-width: 0px;
        background-color: transparent;

        h5{
            font-size: 24px;
        }

        p {
            font-size: 12px;
            color: #A79290;
        }
    }

    .bottom-content {
        img {
            width: 100px;
            height: 100px;
        }

        h5{
            font-size: 20px;
        }
    }

    .side-content {

        h5{
            background-image: url(/img/side-content.png);
            background-size: cover;
            height: 33px;
            width: 240px;
            font-size: 20px;
            color: white;
            text-align: center;
            padding-top: 5px;
        }
    }
}

footer{
    height: 100px;
    background-color: #E6E4E1;

    p {
        margin-top: 20px;
    }

    img{
        margin-left: 20px;
        margin-top: 10px;
    }
}

