body {
  background-color: white;
}

.header {
  background-color: #E7E5E2;
  height: 140px;
}

.header img {
  position: absolute;
  height: 86px;
  width: 170px;
  margin-left: 400px;
  margin-top: 30px;
}

.header .nav-place {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #93877E;
  border-bottom-width: 20px;
  height: 140px;
}

.header .nav-place .navbar-nav {
  text-align: center;
  width: 140px;
  height: 130px;
  margin-left: auto;
  margin-right: 800px;
}

.header .nav-place .navbar-nav img {
  margin-top: 70px;
  width: 800px;
  height: 60px;
  position: absolute;
  margin-left: -100px;
}

.header .nav-place .navbar-nav .nav-item img {
  width: 140px;
  margin-top: 65px;
  margin-left: -120px;
}

.header .nav-place .navbar-nav .nav-item .home img {
  visibility: hidden;
}

.header .nav-place .navbar-nav .nav-item:hover .home img {
  visibility: visible;
}

.header .nav-place .navbar-nav .nav-link {
  margin-right: 100px;
  position: relative;
  margin-top: 75px;
  margin-left: auto;
}

.slider img {
  background-repeat: no-repeat;
  margin-left: 200px;
  height: 531px;
}

.slider .slider-content {
  margin-top: -100px;
}

.slider .slider-content .card {
  border-width: 0px;
  background-color: transparent;
  margin-top: -40px;
}

.slider .slider-content .card .card-title {
  background-image: url(/img/bg-adbox-feature.png);
  background-position: center;
  background-position-y: top;
  width: 300px;
}

.main-content {
  margin-top: 40px;
}

.main-content .card {
  border-width: 0px;
  background-color: transparent;
}

.main-content .card h5 {
  font-size: 24px;
}

.main-content .card p {
  font-size: 12px;
  color: #A79290;
}

.main-content .bottom-content img {
  width: 100px;
  height: 100px;
}

.main-content .bottom-content h5 {
  font-size: 20px;
}

.main-content .side-content h5 {
  background-image: url(/img/side-content.png);
  background-size: cover;
  height: 33px;
  width: 240px;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 5px;
}

footer {
  height: 100px;
  background-color: #E6E4E1;
}

footer p {
  margin-top: 20px;
}

footer img {
  margin-left: 20px;
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */